<p>edit</p>
  <form action="/tweet/<%= @tweet.id %>/edit" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="text" name="new_content" value="<%=@tweet.content%>">
    <input type="submit" value="edit">
  </form>
