<div class="cohort-container">
  <div class="cohort-title">Raccoons Cohort</div>
  <div class="cohort c0">
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Matt</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Mark</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Jennifer</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Lauren</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Heather Zimmerman</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Claire</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Tom</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Andy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Kylie</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Steve Zimmerman</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Kate</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Wyatt</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Jack</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Melissa</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Chad</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Anne</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Katy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Betsy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">William</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Grandpa</div></div>
  </div>
</div>
<div class="cohort-container">
  <div class="cohort-title">A Cohort</div>
  <div class="cohort c1">
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Matt</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Mark</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Jennifer</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Lauren</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Heather Zimmerman</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Claire</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Tom</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Andy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Kylie</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Steve Zimmerman</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Kate</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Wyatt</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Jack</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Melissa</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Chad</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Anne</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Katy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Betsy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">William</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Grandpa</div></div>
  </div>
</div>
<div class="cohort-container">
  <div class="cohort-title">B Cohort</div>
  <div class="cohort c2">
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Matt</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Mark</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Jennifer</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Lauren</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Heather Zimmerman</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Claire</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Tom</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Andy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Kylie</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Steve Zimmerman</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Kate</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Wyatt</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Jack</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Melissa</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Chad</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Anne</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Katy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Betsy</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">William</div></div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/><div class="name">Grandpa</div></div>
  </div>
</div>
<!--
<div class="cohort-container"></div>
  <div class="cohort-title">A Cohort</div>
  <div class="cohort c1">
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Matt</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Mark</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Jennifer</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Lauren</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Heather Zimmerman</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Claire</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Tom</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Andy</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Kylie</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Steve Zimmerman</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Kate</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Wyatt</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Jack</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Melissa</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Chad</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Anne</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Katy</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Betsy</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>William</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Grandpa</div>
  </div>
</div>
<div class="cohort-container"></div>
  <div class="cohort-title">B Cohort</div>
  <div class="cohort c2">
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Matt</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Mark</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Jennifer</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Lauren</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Heather Zimmerman</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Claire</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Tom</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Andy</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Kylie</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Steve Zimmerman</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Kate</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Wyatt</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Jack</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Melissa</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Chad</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Anne</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Katy</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Betsy</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>William</div>
    <div data-user="" data-lineage="" class="user"><img data-lazy="imgs/smiley.png"/>Grandpa</div>
  </div>
</div> -->