<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/sessions.css">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>
  <script src="/js/application.js"></script>


  <title>Steve</title>
</head>
<body>
<header><nav>
  <ul class="nav_links">
    <li>LOGO</li>
  </ul>
  <ul class="nav_user">
    <li><a id="cohort">Your Cohort</a></li>
    <li><a>Your DBC Family Tree</a></li>
    <li><a>Your Profile</a></li>
    <li><a>Sign Out</a></li>
  </ul>
  </ul>
</nav>
</header>
<aside><div class="sidebar">
  <div class="user_highlight">
    <img id="highlight_image" src="" />
    <ul>
      <li id="highlight_name"></li>
      <li id="highlight_email"></li>
      <li id="highlight_city"></li>
    </ul>
  </div>
</div></aside>
<div class="main">
<%= yield %>
</div>
</body>
</html>
